{% load static %}
{% load count_bbs %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} ::
        Доска объявлений</title>
    <link rel="stylesheet" href="{% static 'bboard/style.css' %}">

</head>
<body>
<header>
    <h1>Объявления</h1>
</header>
{% include 'includes/inc_main_menu.html'%}

<section>
{% block content %}

    {% endblock %}
</section>
<footer>
    {% now 'Y' %}
    {% now 'SHORT_DATETIME_FORMAT' %}
</footer>
</body>
</html>