{% extends "layout/basic.html" %}
{% block content %}
<h1>страница {{page.number}}</h1>
<p>кол-во записей {{page_count}}</p>




{%for bb in bbs%}
{% with bb_count=bbs.count %}
{% if bb_count > 0 %}
<p>Всего объявлений на сайте: {{bb_count}}</p>
{%endif%}
{% endwith %}


        <div class="{% cycle 'bg-sacondary' 'bg-light' %}">
            <h2 class="{{currentclass}}">
                {#<a href="{% url 'read' bb.pk %}">#}
                <a href="{% url 'detail' pk=bb.pk %}">
                    {% if forloop.first %}
                     {%elif forloop.last %}
                    {% else %}
                    {% endif %}
                    {{forloop.counter}}.{{ bb.title_and_price }}
                </a>
             </h2>
            <p>{{ bb.content|truncatechars:10 }}</p>
            <p><a href="{{ bb.rubric.get_absolute_url }}">
                {{ bb.rubric.name|upper }}</a></p>
            <p>{{bb.price|default:'цены нет'|floatformat:5}}</p>
            <p>{{ bb.published|date:"DATETIME_FORMAT" }}</p>
                        <p>{%firstof bb.phone bb.email 'herg' %}</p>
        </div>
    {% endfor %}
<h1> {% if page.has_previous %}
    <a href="?page={{page.previous_page_number}}"> &#9664;</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    {%endif%}
    № {{page.number}} из {{ page.paginator.num_pages}}
    {% if page.has_next %}
        &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'page1' page.next_page_number %}"> &#9654;</a>
        {%endif%}

</h1>
<p>
    {% for d in date_list %}
    {{d}}
        {% endfor %}


</p>


{% endblock %}