{% extends "layout/basic.html" %}
{% block content %}

{%for bb in bbs%}
{% with bb_count=bbs.count %}
{% if bb_count > 0 %}
<p>Всего объявлений на сайте: {{bb_count}}</p>
{%endif%}
{% endwith %}


        <div class="{% cycle 'bg-sacondary' 'bg-light' %}">
            <h2 class="{{currentclass}}">
                {#<a href="{% url 'read' bb.pk %}">#}
                <a href="{% url 'detail' pk=bb.pk %}">
                    {% if forloop.first %}
                     {%elif forloop.last %}
                    {% else %}
                    {% endif %}
                    {{forloop.counter}}.{{ bb.title_and_price }}
                </a>
             </h2>
            <p>{{ bb.content|truncatechars:10 }}</p>
            <p><a href="{{ bb.rubric.get_absolute_url }}">
                {{ bb.rubric.name|upper }}</a></p>
            <p>{{bb.price|default:'цены нет'|floatformat:5}}</p>
            <p>{{ bb.published|date:"DATETIME_FORMAT" }}</p>
                        <p>{%firstof bb.phone bb.email 'herg' %}</p>
        </div>
    {% endfor %}

<p>
    {% for d in date_list %}
    {{d}}
        {% endfor %}


</p>


{% endblock %}