{% extends "layout/basic.html" %}

{% block content %}

<!--{{True|yesno}},{{False|yesno}},{{None|yesno}},-->
<!--{{ True|yesno:'так точно,никак нет,дело тёмное' }},-->
<!--{{ False|yesno:'так точно,никак нет,дело тёмное' }},-->
<!--{{ None|yesno:'так точно,никак нет,дело тёмное' }}-->
<ul>{{'puthon'|cut:'t'|make_list|unordered_list }}</ul>

<ul>{{ulist|unordered_list}}</ul>

<H1>{{test_var}}</H1>{% filter upper %}
    {% if user.is_authenticated %}

    <h3>
        <a href="{% url 'authapp:logout' %}">
            Выйти ({{ user.username }})
        </a>
    </h3>
    {% else %}
        <h3>
            <a href="{% url 'authapp:login' %}">
                Войти
            </a>
        </h3>
    {% endif %}
    {% endfilter %}
<p>Первое объявление:{{bbs.0.title}}</p>

{% with bb_count=bbs.count %}
{% if bb_count > 0 %}
<p>vsego{{bb_count}}</p>
{%endif%}
{% endwith %}


    {% for bb in bbs|dictsortreversed:'price' %}
    {% cycle 'b1' 'b2' 'b3' as currentclass %}

        <div class="{% cycle 'bg-sacondary' 'bg-light' %}">
{#            <h2>{{ bb.title }}</h2>#}
            <h2 class="{{currentclass}}">
                {#<a href="{% url 'read' bb.pk %}">#}
                <a href="{% url 'detail' pk=bb.pk %}">
                    {% if forloop.first %}!
                     {%elif forloop.last %}!!!586
                    {% else %}
                    000
                    {% endif %}
                    {{forloop.counter}}.{{ bb.title_and_price }}
                </a>

             </h2>
            <p>{{ bb.content|truncatechars:10 }}</p>
            <p><a href="{{ bb.rubric.get_absolute_url }}">
                {{ bb.rubric.name|upper }}</a></p>
            <p>{{bb.price|default:'цены нет'|floatformat:5}}</p>
<!--            <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>-->
            <p>{{ bb.published|date:"DATETIME_FORMAT" }}</p>
                        <p>{%firstof bb.phone bb.email 'herg' %}</p>
        </div>
    {% endfor %}

<p>
    {% for d in date_list %}
    {{d}}
        {% endfor %}


</p>


{% endblock %}