<h1> {% if page.has_previous %}
    <a href="?page={{page.previous_page_number}}"> &lt;</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    {%endif%}
    {{page.number}} из {{ page.paginator.num_pages}}
    {% if page.has_next %}
        &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="?page={{page.next_page_number}}"> &gt;</a>
        {%endif%}

</h1>
<h1>

    {% if page.has_previous %}
    <a href="?page={{page.previous_page_number}}"> &lt;</a>
    &nbsp;&nbsp;
    {%endif%}
    {% for i in page.paginator.page_range%}
        &nbsp;     <a href="?page={{i}}"> {{i}}</a> &nbsp;
    {% endfor%}
    {% if page.has_next %}
        &nbsp;&nbsp;
    <a href="?page={{page.next_page_number}}"> &gt;</a>
        {%endif%}

</h1>