{% load count_bbs %}
<nav>
    <a href="{% url 'index' %}">Главная</a>
    <a href="{% url 'add' %}">Добавить</a>

    {%if user.is_superuser%}
    <a href="{% url 'rubrics' %}">Изменить</a>
    {%endif%}



    {% for rubric in rubrics %}

        <a href="{{ rubric.get_absolute_url }}">
            {{ rubric.name }}
            {% if count_bb %}
              {{ count_bb|count_bbs:rubric.pk }}
            {% endif %}
        </a>
    {% endfor %}
    {% block content %}
    {% if user.is_authenticated %}

    <h5>
        <a href="{% url 'logout' %}">
            Выйти ({{ user.username }})
        </a>
    </h5>
    {% else %}
        <h5>
            <a href="{% url 'login' %}">
                Войти
            </a>
        </h5>
    {% endif %}
    {% endblock %}
</nav>